* {
  box-sizing: border-box;
}

/** Cấu trúc trang**/
.container {
  margin-right: auto;
  margin-left: auto;

}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

body {
  margin: 0;
  font-family: 'SF Pro Text';
}

footer {
  display: block;
  margin: 0px;
  padding-bottom: 50px;
  width: auto;
  height: auto;
  background-color: rgb(41, 38, 38);

}

/** điều hướng thả xuống **/

/** Điều chỉnh thẻ table**/
table {
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
}

tr {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 100%;
  height: 50px;
}

td {
  padding: 2px;
  align-items: center;
  justify-content: center;
}

.text4 {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 16px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

/** điều chỉnh màu link thẻ a **/
a:link {
  color: rgb(17, 17, 17);
  text-decoration: none;
  font-weight: 600;
}

a:visited {
  color: rgb(5, 5, 5);
}

a:hover {
  color: rgb(197, 102, 58);
  text-decoration: none;
}

a:active {
  color: rgb(197, 102, 58);
}

/** Thẻ a đầu trang **/
#a1:link {
  color: #00000099;
  font-size: 12px;
}

#a1:visited {
  color: rgb(114, 112, 112);
}

#a1:hover {
  color: rgb(197, 102, 58);
}

#a1:active {
  color: rgb(197, 102, 58);
}

/** thẻ a cuối trang**/
#a2:link {
  color: #f3efef;
  text-decoration: none;
  /** hiện hay ẩn dấu gạch dưới**/
  font-size: 15px;
  margin: 0;
}

#a2:visited {
  color: rgb(250, 249, 249);
}

#a2:hover {
  color: rgb(247, 243, 241);
}

#a2:active {
  color: rgb(248, 248, 248);
}

/** CSS thẻ P**/
p {
  color: rgb(248, 113, 51);
  font-weight: 600;
  font-size: 14;
}

b {
  margin: 0;
}


a {
  color: #f3efef;
  font-size: 15px;
}

del {
  color: rgb(185, 165, 165);
}

.center {
  align-items: center;
}

/*Hiệu ứng đổ bóng*/
.column>a>img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/** Đầu trang**/
.meta-list {
  display: flex;
  top: 0px;
  justify-content: center;
  text-align: center;
  width: 100%;
  transform: translateY(-12%);
}

.list {
  margin-right: 100px;
  padding-top: 15px;
  justify-content: center;
  text-align: center;
}

.meta-list a {
  display: flex;
  align-items: center;
  justify-content: center;
}



/**tạo thanh trượt hình ảnh**/
.mySlides {
  display: none;
  width: 100%;
  height: 500px;
}

.mySlides1 {
  display: none;
  width: 100%;
  height: 500px;
}

.labels {
  position: absolute;
  left: 14px;
  top: 12px;
  padding-left: 0;
  display: flex;
}

/**flexbox đáp ứng**/
.column {
  flex: 25%;
  max-width: 25%;
  padding: 14px;
}

.column3 {
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding-left: 110px;
  padding-right: 5%;
  width: 40%;
}

.column4 {
  justify-content: end;
  max-width: 100%;
  width: 59%;
  margin-top: 20px;
}

.column5 {
  align-self: center;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 20px;
}

/** Tạo bố cục 2 cột**/
@media (max-width: 800px) {
  .column {
    flex: 50%;
    width: 50%;
    /** điều chỉnh giá trị để tùy chỉnh 1 hay nhiều cột **/
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  column3 {
    flex: 50%;
    /** điều chỉnh giá trị để tùy chỉnh 1 hay nhiều cột **/
    width: 50%;
    max-width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  /** Điều chỉnh hiệu ứng đáp ứng màn hình**/
  padding: 0 4px;
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}

.row8 {
  display: flex;
  flex-wrap: wrap;
  /** Điều chỉnh hiệu ứng đáp ứng màn hình**/
  margin-left: 170px;
  margin-right: 150px;
  margin-top: 15px;
}

.row7 {
  display: flex;
  height: 25px;
  align-items: center;
  justify-content: center;
}

/** phần nước Home**/
.test-1 {
  color: black;
  padding-left: 100px;
  font-size: 18px;
  padding-top: 25px;
  padding-left: 165px;
}

.test-2 {
  color: black;
  padding-left: 100px;
  font-size: 18px;
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 5px;
}

button {

  width: 50%;
  border-radius: 9px;
  background-color: rgb(248, 155, 94);
  transition: width 5s;
  /** thời gian chạy**/
  transition-delay: 1s;
  /** độ trễ**/
  height: 45px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}
button:hover {
  width: 50%;
  background-color: rgb(245, 243, 243);
  color: rgb(248, 155, 94);
}
h1 {
  font-size: 27px;
}
.row2 {
  display: flex;
  background-color: rgb(252, 244, 227);
  flex-wrap: wrap;
  /** Điều chỉnh hiệu ứng đáp ứng màn hình**/
  padding: 0 4px;
  margin-top: 100px;
  padding-top: 10px;
  height: auto;
  width: 100%;

}

.row3 {
  display: flex;
  background-color: rgb(252, 244, 227);
  flex-wrap: wrap;
  /** Điều chỉnh hiệu ứng đáp ứng màn hình**/
  padding: 0 4px;
  padding-top: 10x;
  padding-bottom: 20px;
  height: auto;
  align-items: flex-start;
  padding-left: 100px;
}

.column1 {
  flex: 50%;
  max-width: 100%;
  margin-top: 20px;


}

@media (max-width: 800px) {
  .column1 {
    flex: 100%;
    /** điều chỉnh giá trị để tùy chỉnh 1 hay nhiều cột **/
    max-width: 100%;

  }
}

/** làm tròn góc**/
#rcorners2 {
  border-radius: 25px;
}

/** zom hình khi re chuột**/
.zom img:hover {
  transition-duration: 0.5s;
  transform: scale(1.2);

}

.zom img {
  transition-duration: 0.5s;
  border-radius: 25px;
  overflow: hidden;
}

.zom {
  transition-duration: 0.5s;
  border-radius: 25px;
  overflow: hidden;
}

/**footer**/
.a-1 {

  color: #f1f1f1;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  /** in đậm chữ**/
}

.a-2 {
  color: #f1f1f1;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  /** Điều chỉnh hiệu ứng đáp ứng màn hình**/
  padding: 0 4px;
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 200px;
}

/**Chuyen nha**/
.blog_home {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  margin-top: 40px;

}

h3 {
  display: block;
  width: 100%;
  max-width: max-content;
  padding-left: 10px;
  border-left: 4px solid #E57905;
  line-height: 1.5;
  text-align: center;

}

h5 {
  margin-top: 20px;
  width: 100%;
  max-width: max-content;
  height: 35px;
  text-overflow: ellipsis;

}

.text1 {
  color: rgb(114, 114, 101);
  padding-top: 10px;
  padding-bottom: 10px;
}

.text2 {
  font-size: 14px;
  padding-top: 10px;
  color: rgb(0, 0, 0);
  line-height: 24px;
}

.text3 {
  
  padding-top: 10px;
  color: rgb(0, 0, 0);
  padding-bottom: 50px;
}

.text-3 {
  font-size: 18px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}

.text-4 {
  font-size: 24px;
}

.column2 {
  flex: 25%;
  max-width: 30%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;

}

.column6 {
  flex: 25%;
  max-width: 30%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;

}


/** Tạo bố cục 2 cột**/
@media (max-width: 800px) {
  .column2 {
    flex: 50%;
    /** điều chỉnh giá trị để tùy chỉnh 1 hay nhiều cột **/
    max-width: 50%;
  }
}

.row4 {
  display: inline-flex;
  background-color: rgb(252, 244, 227);
  flex-wrap: wrap;
  /** Điều chỉnh hiệu ứng đáp ứng màn hình**/
  padding-top: 10px;
  height: auto;
  width: 100%;
  padding-left: 100px;
  padding-right: 50px;
}

.row5 {
  display: flex;
  background-color: rgb(252, 244, 227);
  flex-wrap: wrap;
  /** Điều chỉnh hiệu ứng đáp ứng màn hình**/
  padding-top: 10px;
  padding-bottom: 100px;
  height: auto;
  width: 100%;
  padding-left: 50px;
  padding-right: auto;

}

.row6 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /** Điều chỉnh hiệu ứng đáp ứng màn hình**/
  margin-bottom: 50px;
  margin-top: 205px;
  width: 100%;
  padding-left: 50px;
}

.row9 {
  display: block;
  align-items: center;
  justify-content: center;
  /** Điều chỉnh hiệu ứng đáp ứng màn hình**/
  margin-bottom: 50px;
  margin-top: 25px;
  width: auto;
  height: auto;
  padding-left: 50p
}

/** San pham noi bat **/
@media (min-width: 992px) {
  .branch_img {
    margin-top: calc(-9% - 50px);
  }
}

@media (min-width: 992px) {
  .brand_img1 {
    margin-bottom: calc(-9% - 50px);
  }
}

/** menu**/
  .header_menu>ul>li .menu_child {
    padding: 24px 15.4% 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    pointer-events: none;
    position: absolute;
    top: 200%;
    left: 0;
    z-index: 99;
    background: #fff;
    color: #000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
.header_menu .close-btn-wrap {
  display: none;
  padding: 10px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.header_menu>ul>li .menu_child>li.lv2_title {
  flex: 1;
}

.header_menu>ul>li {
  display: inline-block;
  padding: 19px 10px 19px;
}



@media (min-width: 992px) {
  .header_menu>ul>li:hover .menu_child {
    top: 100%;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.header_menu>ul>li:hover .menu_child {
  background: rgba(255, 255, 255, 0.95);
}

.header_menu>ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.header_nav {
  display: flex;

}

.header_logo {
  margin-right: 100px;
  margin-left: 170px;
  padding-top: 20px;

}

/** Thanh điều hướng **/
/** Thanh điều hướng **/
ul {
  display: block;
  list-style-type: none;
}

.ul.meta-list {
  width: auto;
  height: auto;
  position: absolute;
}

#li-a {
  display: inline-flex;
  align-items: center;
  justify-items: center;
}

header {
  position: sticky;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  z-index: 999;
  height: 60px;
  width: 100%;
}

.header_menu>ul>li .menu_child>li {
  padding: 12px 2.2%;
  float: none;
  display: block;
}

@media (min-width: 992px) {
  .header_menu .menu_child_lv3 {
    padding: 0;
    margin-top: 16px;
  }
}

.header_menu>ul>li .menu_child>li>a {
  color: #000;
  border-bottom: 2px solid;
  font-size: 16px;
}

.header_menu>ul>li a {
  /* display: block; */
  color: #000;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: 'SF Pro Text', sans-serif;
}

@media (min-width: 992px) {

  .header_menu>ul>li .menu_child>li:hover>a,
  .header_menu ul li.active>a,
  .header_menu ul li:hover>a {
    color: #EA8025;
  }
}

li {
  text-align: -webkit-match-parent;
}

@media (min-width: 992px) {
  .header_menu .menu_child_lv3>li {
    margin-bottom: 4px;
  }
}

.header_menu>ul>li .menu_child>li {
  padding: 12px 2.2%;
  float: none;
  display: block;
}

.header_menu .menu_child_lv3>li>a {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}


/** iteam **/
.menu_item .menu_item_image {
  position: relative;
}

.labels {
  position: absolute;
  left: 14px;
  top: 12px;
  padding-left: 0;
  display: flex;
}

.labels span {
  display: none;
}

.imgdemo {
  display: inline-flex;
  margin-top: 10px;
  margin-left: 10px;
  height: 60px;
  width: auto;
  margin-right: 6px;
  position: absolute;
  /** hiện lên trên**/
}

.imgdemo10 {
  display: inline-flex;
  height: 60px;
  width: 150px;
  position: absolute;
  /** hiện lên trên**/
}

/** hiệu ứng hover button**/
.animate_btn {
  backface-visibility: hidden;
  border-radius: 8px;
  position: relative;
  -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: 2px solid #EA8025;
  padding: 8px 25px;
  display: inline-block;
  z-index: 1;
}

.animate_btn:before {
  backface-visibility: hidden;
  position: absolute;
  display: block;
  background: #EA8025;
  content: '';
  left: 0;
  top: 0;
  /*right: 0; bottom: 0;*/
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.animate_btn:hover:before {
  -webkit-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}


/** fanfage cuoi trang **/
.fb_iframe_widget {
  display: inline-block;
  position: relative;
}

element.style {
  vertical-align: bottom;
  width: 270px;
  height: 130px;
}

.fb_iframe_widget iframe {
  position: absolute;
}

.fb_iframe_widget span {
  display: inline-block;
  position: relative;
  text-align: justify;
}

.tch_social_links {
  display: flex;
  padding: 0;
  margin-top: 18px;
}
#fixed-hotline-support {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 24px;
  bottom: 100px;
  background: #E57905;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  box-shadow: 0px 8px 36px rgb(0 0 0 / 17%);
  z-index: 99;
}
#fixed-hotline-support img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}